
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Strand Movies</a>

  <ul class="nav navbar-nav mr-auto w-80">
    <li class="text-truncate w-80">
        <form class="input-group">
            <input class="form-control input-mysize" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
            <div class="input-group-btn">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
    </li>
  </ul>
    <ul class="nav navbar-nav">
      <li class="nav-item">
          <!--spacer-->
          &nbsp;
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/strandform">StrandForm</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/strands">My Strands</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

</nav>
