<div *ngIf="strand">
    <h2>{{strand.listName | uppercase}} Details</h2>
    <div><span>id: </span>{{strand.id}}</div>


  <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  <div class="row" *ngIf="strand.movies">
  <div class="col-sm-2" *ngFor="let movie of strand.movies">
    <div class="card m-2">
      <img class="card-img-top" src="https://previews.123rf.com/images/lukeruk/lukeruk1708/lukeruk170800029/85131412-movie-poster-design-with-film-roll-on-colorful-background-retro-banner-concept-for-movie-festival-vi.jpg" alt="Card image cap">
      <div class="card-body">
          {{movie.title}}
          <div class="row">
              <div class="col">
                  <p class="btn btn-danger btn-block" (click)="deleteMovie(movie.id)" >Delete</p>
              </div>
          </div>
      </div>
    </div>
  </div>

  </div>

  </div>
  <button (click)="goBack()">go back</button>
